html, body {
  background-color: #212121;
  font-size: 18px;
}

.scifiUI {
  list-style: none;
  position: relative;
  width: 600px;
  margin: 50px auto;
  padding: 0;
  font-size: 1em;
  color: #00bebe;
}

li {
  display: inline-block;
}
li input[type="radio"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  outline: none;
}
li input[type="radio"]:checked ~ label {
  background: #00bebe;
  color: #212121;
  height: 50px;
  font-size: 1.2em;
  cursor: default;
  box-shadow: 0 0 10px #00dcdc;
}
li input[type="radio"]:checked ~ .section {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 500px;
  padding: 50px;
  border: 1px solid #00bebe;
  color: #00dcdc;
  letter-spacing: .1em;
  text-indent: 1em;
  z-index: 1;
}
li label {
  display: block;
  width: 120px;
  height: 40px;
  border: 1px solid rgba(0, 190, 190, 0.7);
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  color: rgba(0, 190, 190, 0.7);
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
li label:hover {
  height: 50px;
  border-color: #00bebe;
  color: #00bebe;
}
li .section {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 51px;
  left: 0;
  /* width: 1000px; */
  padding: 50px;
  border: 1px solid #00bebe;
  background: rgba(0, 190, 190, 0.1);
  color: white;
  letter-spacing: -1em;
  text-indent: 1em;
  transition: all 200ms ease-in-out;
}
